*~
.ssh/
.ICEauthority
.RapidSVN
.Skype/
.Xauthority
.adobe/
.android/
.apport-ignore.xml
.audacity-data/
.bash_history
.bash_logout
.bashrc
.byobu/
.cache/
.ccnx/
.compiz/
.config/
.dbus/
.digitalID/
.dmrc
.dropbox-dist/
.dropbox/
.eclipse/
.emacs_includes/
.gconf/
.gem/
.gimp-2.8/
.gksu.lock
.gmrun_history
.gnome/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.hplip/
.ido.last
.java/
.lesshst
.local/
.macromedia/
.matlab/
.matplotlib/
.mozilla/
.nano_history
.pdfedit/
.pki/
.profile
.pulse-cookie
.pulse/
.qt/
.remmina/
.rpmdb/
.speech-dispatcher/
.subversion/
.thumbnails/
.thunderbird/
.vim/
.viminfo
.vimrc
.virt-manager/
.vnc/
.wireshark/
.xscreensaver
.xsession-errors
Desktop/
Documents/
Downloads/
Dropbox/
Dropbox-Private/
go/
Pictures/
Ubuntu One/
eclipse-workspace/
examples.desktop
repo/
.emacs.d/ac-comphist.dat
.emacs.d/lisp/tramp
