*~
**/.DS_Store
.Trash/
.Xauthority
.bash_history
.config/
.dropbox/
.eclipse/
.ido.last
.matlab/
.matplotlib/
.python-eggs/
.rnd
.ssh/
.subversion/
.viminfo
.wireshark-etc/
.wireshark/
.xdvirc
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Dropbox-Private/
Library/
Movies/
Music/
Pictures/
Public/
eclipse-workspace/
repo/
.android/
.cache/
.cups/
.deliverycenter.installs
.fontconfig/
.gnupg/
.inkscape-etc/
.lesshst
.emacs.d/ac-comphist.dat
